
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/schema.rbg
/public/system/*
/public/assets/*
/public/uploads/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

