@import 'bootstrap';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* reset */
html,body,div,span,h1,h2,h3,h4,b,u,i,s,em,form,fieldset,label,legend,input,button,textarea,a,p,table,caption,tbody,thead,tr,th,td, ul, li, ol{
  margin: 0;
  padding: 0;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0 ;
  font-size: inherit;
  font: 100%;
}
fieldset,img {
  border: 0;
}
caption,th,td{
  text-align: left ;
  padding: 0 10px;
}
ul,ol{
  list-style: none;
}
input,button,textarea,select,th,optgroup,option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
/* global styles */
html, body {
  height: 100%;
  color: #58595b;
}
a, .jslink{
  color: blue;
}
a:hover, .jslink:hover{
  color: #F15A2A;}
.jslink{
  text-decoration: underline;
  cursor: pointer;
  &:hover{
    text-decoration: none;}
}
body{
  font: 13px Helvetica,sans-serif;
  background: #fff;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 21px;
}
h3 {
  font-size: 19px;
}
h4 {
  font-size: 17px;
}
h1, h2, h3, .normal {
  font-weight: normal;
  color: #333132;
  margin: 0 0 0.35em;
  line-height: 1em;
}
.notify-title {
  color: #F15A2A;
}
/*all constants which we can use in sass*/
$main-width: 1200px;

#container {
  min-height: 100%;
  min-width: $main-width;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  background: -webkit-linear-gradient(
      left,
      #f3bbc3,
      #ebd7ea
  );
  background: -moz-linear-gradient(
      left,
      #f3bbc3,
      #ebd7ea
  );
  background: -o-linear-gradient(
      left,
      #f3bbc3,
      #ebd7ea
  );
  background: linear-gradient(
      left,
      #f3bbc3,
      #ebd7ea
  );

}

/*.logo{
  padding: 20px;
}
.logo img{
  width: 260px;
  position: relative;
  /*-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;*/
  /*box-shadow: 3px 3px 7px #aa128F;
  -webkit-box-shadow: 3px 3px 7px #aa128F;
  -moz-box-shadow: 3px 3px 7px #aa128F;
}
*/
.descr img{
  float: left;
}

.for_clear{clear:left;}

/*.top-image{
  text-align: center;
  margin-top: -135px;
}

.top-image img{
  padding-left: 160px;
  width: 700px;
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
}
*/

.patent{
  height: 200px;
}

.with_custom{
  margin: 0 10px;
  text-align: center;
}

.content-top{
  position: relative;
  width: $main-width;
  height: 245px;
  margin: 0 auto;
  margin-top: 20px;
}

.top-menu{
  width: inherit;
  height: 40px;
  width: $main-width;
  border-bottom: 2px solid #feb9fa;
}

.bottom-menu {
  text-align: center;
}
.bottom-menu a:hover{
  color: #688daa;
}
.bottom-menu a{
  text-decoration: none;
  color: #da4471;
  padding: 5px;
}

.mbutton{
  display: inline-block;
  background: #FF99FF;
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  box-shadow: 3px 3px 7px #aa128F;
  -webkit-box-shadow: 3px 3px 7px #aa128F;
  -moz-box-shadow: 3px 3px 7px #aa128F;
  padding: 8px;
  font-size: 15px;
  color: #da4471;
}

a:hover div.mbutton{
  background: #FFccFF;
}

#content-body{
  margin:0 auto 80px; width:$main-width; position: relative;z-index: 2;
}
#content-footer{
  z-index: 10; position: absolute; bottom: 0; left: 50%;
  margin: 0 0 0 -600px; width: $main-width; height: 40px; padding: 20px 0 15px;
}
.title h1{color:#da4471; font-weight: bold; margin-left: 20px;}

.date{
  color: #da4471;
  font-family: 'Times New Roman';
  font-style: italic;
}
h2.newstitle{margin: 0; color: #000080;}
.newspage h3{margin: 0;
  line-height: 25px;}
.newspage h3 a{color:#688daa; text-decoration: none;}
.newspage h3 a:hover{color:#466b99;}
.nplinks a{color:#688daa;}
.nplinks a:hover{color:#466b99;}
.newspage{
  background-color: lightgoldenrodyellow;
  border: 1px #DA4471 solid;
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  padding: 10px;
}

.login-links{margin-top: 150px; font-size: 18px; position: absolute; top: 0;  }
.login-links a{text-decoration: none; color: #000080; }
.login-links a:hover{ color: #688d22; }
.lgn-links{ margin: -2000px;}

.button_class{
  width: 125px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;
  border: 1px solid gray;
  background: -webkit-linear-gradient(
      left,
      #ebd7ea,
      #f3bbc3
  );
  background: -moz-linear-gradient(
      left,
      #ebd7ea,
      #f3bbc3
  );
  background: -o-linear-gradient(
      left,
      #ebd7ea,
      #f3bbc3
  );
  background: linear-gradient(
      left,
      #ebd7ea,
      #f3bbc3
  );
}

.slogan{
  padding-top: 20px;
  font-size: 40px;
  text-align: center;
  font-family: serif;
  color: #000080;
}

.admin-links{
  background-color: #ccc;
  width: $main-width; height: 20px;
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  color: black;
  margin-top: -16px
}

.admin-links a:hover{ color: white;}

.top-menu{
  text-align: center;

  a {
    text-decoration: none;
  }
}

.specoffer{
  padding: 10px; border-bottom: 1px #688daa solid;
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  /*box-shadow: 3px 3px 7px #AA128F;
  -webkit-box-shadow: 3px 3px 7px #AA128F;
  -moz-box-shadow: 3px 3px 7px #AA128F;*/
  background-color: white;
  margin-bottom: 10px;
  h2{color:#688daa;}
  img{float: left; padding-right: 10px; }
}

.filial img{float: left; padding-right: 10px; }

.prblock1{
  padding: 10px; border-bottom: 1px #688daa solid;
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  /*box-shadow: 3px 3px 7px #AA128F;
  -webkit-box-shadow: 3px 3px 7px #AA128F;
  -moz-box-shadow: 3px 3px 7px #AA128F;*/
}
.prtext{
  padding: 10px;
}

.so_img {}
.for_clear{clear:left;}

.red-title { color: #F9F;}
.red1-title a{ color: #DA4471;}
.red1-title a:hover{ color: #8A1421;}
.red-title a:hover{ color: #DA4471;}

.mc{
  color: #F9F;
  cursor: pointer;
  text-align: center;
}
.mc:hover{ color: #DA4471; cursor: pointer;}

#toshow1, #toshow2, #toshow3{
  width: 100%;
  background-color: #FCF;
  color: #DA4471;
  text-align: center;
}
#toshow1:hover{
  background-color: #F9F;
  cursor:pointer;
}

#toshow2:hover{
  background-color: #F9F;
  cursor:pointer;
}
#toshow3:hover{
  background-color: #F9F;
  cursor:pointer;
}

#close1, #close2, #close3{
  display: none;
}

#new-menu {text-align: center; height: 50px;}
#menu {
  font-family: Arail, Verdana, Geneva, sans-serif;
  font-size:14pt;
  display:block;
  width: 100%;
  margin: 0;
  /* position:absolute;
  // top:100px;
  // left:50px;*/

}
#menu > li {
  width: 17%;
  display:inline-block;
  position:relative;
}

#menu a:hover {
  background-color: #FCF;

}

#menu a {
  width: 91%;
  background-color:#ffabeb;
  color: #000080;
  text-decoration: none;
  /*box-shadow:1px 1px 5px #AA128F;*/
}

#menu > li > a {
  display:inline-block;
  height:20px;
  padding: 5px;
  border:1px solid #DA4471;
  border-radius:5px;
}
#menu > li:hover > a {
  color:#DA4471;
}
#menu > li > ul {
  position:absolute;
  top:42px;
  left:0px;
  display:none;
}
#menu > li:hover > ul {
  display:block;
}

#menu > li:hover > ul > li {
  display:inline-block;
  margin-left: -25px;
}
#menu > li:hover > ul > li > a {
  display:inline-block;
  width:200px;
  padding:10px;
  /*background-color:#f2f2f2;*/

  border:1px solid #DA4471;
  border-radius:5px;
}

.set a{text-decoration: none;}
.round {border-radius:15px;}

#popup h1{text-align: center; color: #045bb9;}
.request-call .form-inputs input{width: 97%; height: 25px; margin-bottom: 10px; }
.order .form-inputs .input{height: 20px; margin-top: 10px; }
.order .form-inputs {padding-bottom: 20px;}
#popup .form-actions{
  text-align: center;
  padding-top: 20px;
}
#popup .integer input{width: 45px;}
#popup input.fio{ width: 100%;}
.request-call .note{ text-align: center; font-size: 18px; color: grey;}
#popup .form-actions input{
  width: 250px; height: 40px; background-color: #9be42b;
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  color: #636363;
  font-size: 20px;
}

.request-call{
  position: fixed;
  background-color: #ebd6e9;
  top:50px;
  /*left:385px;*/
  left: 50%;
  margin-left: -275px;
  min-height: 100px;
  min-width: 400px;
  max-width: 500px;
  max-height: 900px;
  padding: 15px;
}

#popup label {float: left; line-height: 19px; width:100%;}

#popup .simple-form{
  position: relative;
}

#popup{
  z-index: 1000;
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
}

#close{
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  top:10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  color: white;
  background-color: #e74949;
  -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

#close:hover{
  font-size: 18px;
  color: white;
  background-color: #e74949;
  -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
   box-shadow: 0px 0px 5px #e74949;
  -webkit-box-shadow: 0px 0px 5px #e74949;
  -moz-box-shadow: 0px 0px 5px #e74949;
}

.disable{
  position: fixed; top:0; left: 0;
  width: 100%; height: 100%;
  background-image: url(/assets/opa75.png);
  z-index: 100;
}

.answer{background-color: pink; margin-left: 40px; float:left; font-style: italic;}
.flrght{ float: right;}

.white-area{
  background-color: white;
  padding: 10px;
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  box-shadow: 3px 3px 7px #aa128F;
  -webkit-box-shadow: 3px 3px 7px #aa128F;
  -moz-box-shadow: 3px 3px 7px #aa128F;
}

.nav-pills li{
  font: 14pt Arial, Verdana, Helvetica, sans-serif;
  min-width: 170px;
  a{
    border: 1px solid #DA4471;
    border-radius: 5px;
    color: #000080;
    background-color: #ffabeb;
    &:hover{
      background-color: #FCF;
    }
  }
}

.dropdown-submenu{
  background-color: #ffabeb;
  &:hover > a{
    background-color: #FCF !important;
    background-image: none !important;
  }
  li > a:hover{
    background-color: #FCF !important;
    background-image: none !important;
    color: deeppink;
  }
  ul > li{
    a{
      color: deeppink;
      &:hover{
        color: deeppink;
      }
    }
  }
  ul{
    padding: 0;
  }
}

.left-menu{
  li > a:hover{
    background-color: #FCF !important;
    background-image: none !important;
  }
  li{
    &:hover > a{
      color: deeppink;
    }
    .dropdown-menu{
      margin-top: 0 !important;
    }
  }
}

.dropdown-menu{
  background-color: #ffabeb;
}

.with_border{
  margin-bottom: 10px;
  border: 1px #ddd solid;
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
}
.top-bordered{
  border-top: 1px #ddd solid;
  .panel-body{
    padding: 10px;
    background-color: #eee;
  }
}
.with_style{
  padding: 0 10px;
  height: 30px;
  a > h4{
    color: #6D4C77;
  }
  h4{
    line-height: 30px;
  }
}
.colored_grey{
  color: #688daa;
}

.with_outline{
  outline: 2px solid black;
}
