<p>Здравствуйте <%= @resource.email %>!</p>

<p>Ссылка для смены пароля находится ниже. Пройдите по не и выполните необходимые действия.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы не делали запроса на смену пароля, пожалуйста, проигнорируйте данное письмо.</p>

